.background{
    height: 600px;
    width: 1366px;
    padding: 145px;
    justify-content: center;
    margin-top: 780px;
}
.hello{
    width:
861px;

}
.some{
    font-family: "Eudoxus Sans";
font-size: 40px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0em;
text-align: center;

}
.backgroundColor{
    background-color: #F8F4EB;

}