.logo{
    background-color: #025A68;

}
.nav{
    border-radius: 67px;
}
.myprofile{
    width: 44px;
    height: 32px;
}
.color{
    border-color: #FAB005;
    border-radius: 5px;

}
.option{
    background-color: #025A68;
    color: white;
   

}