.bgColor{
    background-color: #F8F4EB;

}
.placeman{
    margin-top: 455px;
}
.text{
    font-family: Eudoxus Sans;
font-size: 44px;
font-weight: 700;
line-height: 78px;
letter-spacing: 0.02em;
text-align: left;

}